<div class='main'>
  <h1 class="title">{{title}}</h1>
  <div class='details'>
    
    <nav class="navbar navbar-light" style="border-radius: 1.7%;width:max-content;">
      <div class="d-grid gap-2 d-md-block">
        <a routerLink="/courses" routerLinkActive="active">
          <button type="button" class="btn btn-outline-dark btn-lg">Courses</button>
          </a>
      
        <a routerLink="/aboutus" routerLinkActive="active">
          <button type="button" class="btn btn-outline-dark btn-lg">About us</button>
        </a>
      </div>
    </nav>
    <!-- The routed views render in the <router-outlet>-->

    <router-outlet></router-outlet>

    </div>  
</div>